<p class="text-center">
  <button *ngIf="!loadingTrainings" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">
    Wyszukaj szkolenia
  </button>
  <button *ngIf="loadingTrainings" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">
    Proszę czekać...
  </button>
</p>
<div class="mb-4" [ngbCollapse]="isCollapsed">
  <form class="search-form offset-lg-2 col-lg-8">
    <div class="form-group text-center offset-md-2 col-md-8 offset-lg-4 col-lg-4">
      <label class="search-label" for="search-training-name">Nazwa szkolenia</label>
      <input type="text" name="name-filter" [(ngModel)]="nameFilter" (input)="updateFilters()"
             class="form-control" id="search-training-name">
    </div>
    <div class="text-center">
      <label class="search-label">Data szkolenia</label>
    </div>
    <div class="d-flex form-group form-inline">
      <div class="col-md-6 date-field">
        <label>Od</label>
        <input type="date" name="date-from-filter" [(ngModel)]="dateFromFilter" (input)="updateFilters()"
               class="form-control" id="search-training-date-from">
      </div>
      <div class="col-md-6 date-field">
        <label>Do</label>
        <input type="date" name="date-to-filter" [(ngModel)]="dateToFilter" (input)="updateFilters()"
               class="form-control" id="search-training-date-to">
      </div>
    </div>
  </form>
</div>
