<p class="d-flex justify-content-center">
  <button *ngIf="!loadingTrainings" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">
    Wyszukaj szkolenia
  </button>
  <button *ngIf="loadingTrainings" type="button" class="btn btn-danger d-flex">
    <svg width="24px" height="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: none;"><circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(312 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
    <span class="ml-1">Proszę czekać...</span>
  </button>
</p>
<div class="mb-4" [ngbCollapse]="isCollapsed">
  <form class="search-form offset-lg-2 col-lg-8">
    <div class="form-group text-center offset-md-2 col-md-8 offset-lg-4 col-lg-4">
      <label class="search-label" for="search-training-name">Nazwa szkolenia</label>
      <input type="text" name="name-filter" [(ngModel)]="nameFilter" (input)="updateFilters()"
             class="form-control" id="search-training-name">
    </div>
    <div class="text-center">
      <label class="search-label">Data szkolenia</label>
    </div>
    <div class="d-flex form-group form-inline">
      <div class="col-md-6 date-field">
        <label>Od</label>
        <input type="date" name="date-from-filter" [(ngModel)]="dateFromFilter" (input)="updateFilters()"
               class="form-control" id="search-training-date-from">
      </div>
      <div class="col-md-6 date-field">
        <label>Do</label>
        <input type="date" name="date-to-filter" [(ngModel)]="dateToFilter" (input)="updateFilters()"
               class="form-control" id="search-training-date-to">
      </div>
    </div>
  </form>
</div>
