.participants-gallery img {
  border-radius: 999px;
  margin: 5px 0;
}

.participant-gallery-item {
  margin: 5px 0;
}

.participant-name {
  text-align: center;
  word-wrap: normal;
  font-size: 15px;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.13);
}
