<ng-template #signupPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Zgłoszenie na szkolenie</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="explanation">Uzasadnienie chęci wzięcia udziału w szkoleniu</label>
        <textarea class="form-control" id="explanation"></textarea>
      </div>
      <div class="form-group">
        <label for="usability">Do czego wiedza ze szkolenia może przydać ci się w pracy?</label>
        <textarea class="form-control" id="usability"></textarea>
      </div>
      <div class="form-group float-right">
        <button type="button" class="btn btn-primary">Wyślij do kierownika</button>
      </div>
    </form>
  </div>
</ng-template>

<div id="preloader" *ngIf="!training || !comments || !usersEnrolled">
  <svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
       preserveAspectRatio="xMidYMid" class="d-block mx-auto lds-double-ring"
       style="animation-play-state: running; animation-delay: 0s; background: none;">
    <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="4"
            stroke="rgba(10.701510250756346%,17.70181966573184%,77.8451715284778%,0.979)"
            stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(150 50 50)"
            style="animation-play-state: running; animation-delay: 0s;">
      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50"
                        keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"
                        style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
    </circle>
    <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="35" stroke-width="4" stroke="#2d8274"
            stroke-dasharray="54.97787143782138 54.97787143782138" stroke-dashoffset="54.97787143782138"
            transform="rotate(-150 50 50)" style="animation-play-state: running; animation-delay: 0s;">
      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50"
                        keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"
                        style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
    </circle>
  </svg>
</div>
<div *ngIf="training && comments && usersEnrolled" class="row">
  <div class="col-md-8">
    <h1 class="mt-4">{{ training.name }}</h1>
    <hr>
    <p>Data szkolenia: {{training.date}}</p>
    <hr>
    <img class="img-fluid rounded" src="../../assets/{{training.image}}">
    <hr>
    <p class="lead">{{ training.shortDescription }}</p>
    <p>{{ training.description }}</p>
    <app-comments [comments]="comments"></app-comments>
  </div>
  <div class="col-md-4">
    <div class="card my-4">
      <h5 class="card-header text-center">Lista uczestników ({{usersEnrolled.length}})</h5>
      <div *ngIf="usersEnrolled" class="participants-gallery d-flex flex-wrap text-center">
        <div *ngFor="let user of usersEnrolled" class="col-4 col-sm-3 col-md-6 col-lg-4 participant-gallery-item">
          <img src="http://via.placeholder.com/70x70">
          <div class="participant-name">
            <div>{{user.firstName}}</div>
            <div>{{user.lastName}}</div>
          </div>
        </div>
      </div>
      <div class="card my-4 text-center">
        <h5 class="card-header">Oceny użytkowników</h5>
        <div class="card-body">
          <div>
            <p>
              <ngb-progressbar type="success" [value]="100 * training.rateFive/total">{{training.rateFive}}
              </ngb-progressbar>
            </p>
            <p>
              <ngb-progressbar type="info" [value]="100 * training.rateFour/total">{{training.rateFour}}
              </ngb-progressbar>
            </p>
            <p>
              <ngb-progressbar type="primary" [value]="100 * training.rateThree/total">{{training.rateThree}}
              </ngb-progressbar>
            </p>
            <p>
              <ngb-progressbar type="warning" [value]="100 * training.rateTwo/total">{{training.rateTwo}}
              </ngb-progressbar>
            </p>
            <p>
              <ngb-progressbar type="danger" [value]="100 * training.rateOne/total">{{training.rateOne}}
              </ngb-progressbar>
            </p>
          </div>
          <div *ngIf="!rateSubmitted">
            <div class="form-group">
              <ngb-rating [(rate)]="submittedRate" *ngIf="editMode" max="5"></ngb-rating>
            </div>
            <div class="form-group">
              <button *ngIf="!editMode" (click)="giveRate()" class="btn btn-primary">Wystaw ocenę</button>
              <button *ngIf="editMode" (click)="submitRate()" class="btn btn-primary">Zatwierdź</button>
            </div>
          </div>
          <div *ngIf="rateSubmitted">
            Dziękujemy za opinię.
          </div>
        </div>
      </div>
      <div class="card my-4 text-center">
        <h5 class="card-header">Zapisy</h5>
        <div class="card-body">
          <div class="form-group d-flex flex-column align-items-center">
            <div>Pozostało jeszcze</div>
            <h2>10</h2>
            <div>wolnych miejsc.</div>
          </div>
          <div class="form-group">
            <button (click)="signForTraining(signupPopup)" class="btn btn-primary">Zapisz się na to szkolenie</button>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <h5 class="card-header text-center">Tagi</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
