.participants-gallery img {
  border-radius: 999px;
  margin: 5px 0;
}

.participant-gallery-item {
  margin-bottom: 5px;
}

.participant-name {
  text-align: center;
  word-wrap: normal;
  font-size: 15px;
}
