<div class="container">
  <h1 class="text-center my-4">Dostępne szkolenia</h1>
  <div id="preloader" *ngIf="!trainings">
    <svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
         preserveAspectRatio="xMidYMid" class="d-block mx-auto lds-double-ring"
         style="animation-play-state: running; animation-delay: 0s; background: none;">
      <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="4"
              stroke="rgba(10.701510250756346%,17.70181966573184%,77.8451715284778%,0.979)"
              stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(150 50 50)"
              style="animation-play-state: running; animation-delay: 0s;">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50"
                          keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"
                          style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
      </circle>
      <circle cx="50" cy="50" fill="none" stroke-linecap="round" r="35" stroke-width="4" stroke="#2d8274"
              stroke-dasharray="54.97787143782138 54.97787143782138" stroke-dashoffset="54.97787143782138"
              transform="rotate(-150 50 50)" style="animation-play-state: running; animation-delay: 0s;">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50"
                          keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"
                          style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
      </circle>
    </svg>
  </div>

  <div *ngIf="trainings">
    <p class="text-center">
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed">
        Wyszukaj szkolenia
      </button>
    </p>
    <div class="mb-4" [ngbCollapse]="isCollapsed">
      <form class="search-form offset-lg-2 col-lg-8">
        <div class="form-group text-center offset-md-2 col-md-8 offset-lg-4 col-lg-4">
          <label class="search-label" for="search-training-name">Nazwa szkolenia</label>
          <input type="text" name="name-filter" [(ngModel)]="nameFilter" (input)="updateFilters()"
                 class="form-control" id="search-training-name">
        </div>
        <div class="form-group text-center">
          <label class="search-label">Data szkolenia</label>
        </div>
        <div class="d-flex form-group form-inline">
          <div class="col-md-6 date-field">
            <label>Od</label>
            <input type="date" name="date-from-filter" [(ngModel)]="dateFromFilter" (input)="updateFilters()"
                   class="form-control" id="search-training-date-from">
          </div>
          <div class="col-md-6 date-field">
            <label class="">Do</label>
            <input type="date" name="date-to-filter" [(ngModel)]="dateToFilter" (input)="updateFilters()"
                   class="form-control" id="search-training-date-to">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let training of trainings" class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a routerLink="/szczegoly/{{ training.id }}">
          <img class="card-img-top" src="../../../assets/{{training.image}}">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ training.name }}</a>
          </h4>
          <h6>Data szkolenia: {{training.date}}</h6>
          <p class="card-text">{{ training.shortDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
